<div class="page-header">
        <h1>Search</h1>
        <p>Find images using Bing Image Cognitive Search.</p>
        <div class="form-group">
            <div class="col-sm-4">
                <input type="text" class="form-control" id="searchInput" #searchInput>
            </div>
            <button type="submit" class="btn btn-default" (click)="search(searchInput.value)">Search</button>
        </div>
    </div>
    <div *ngIf="searchResults">
        <h2>
            <b>Selected Photo</b>
        </h2>
        <div class="currentItem card" *ngIf="currentAnalytics || isAnalyzing">
            <img src="{{currentItem?.thumbnailUrl}}" />
            <div *ngIf="!isAnalyzing">
                <h4>
                    <b>{{currentAnalytics?.description.captions[0].text}}</b>
                </h4>
                <div>
                    <span class="tag label" [ngClass]="{'label-default': tag.confidence >= .75, 'label-warning': tag.confidence >= .5 && tag.confidence < .75, 'label-danger': tag.confidence < .5}"
                        *ngFor="let tag of currentAnalytics?.tags">{{tag.name}}
                    </span>
                </div>
                <hr/>
                <div>
                    <b>Number of people: {{currentAnalytics?.faces.length}}</b>
                    <hr/>
                    <div ng-show="currentAnalytics?.faces.length > 0">
                        <b>Number of Women: {{(currentAnalytics?.faces | facegenderfilter: {age: 0, gender: 'Female'}).length}}</b>
                        <div *ngFor="let woman of currentAnalytics?.faces | facegenderfilter: {age: 0, gender: 'Female'}">
                            age: {{woman.age}}
                        </div>
                        <hr/>
                        <b>Number of Men: {{(currentAnalytics?.faces | facegenderfilter: {age: 0, gender: 'Male'}).length}}</b>
                        <div *ngFor="let man of currentAnalytics.faces | facegenderfilter: {age: 0, gender: 'Male'}">
                            age: {{man.age}}
                        </div>
                        <hr/>
                    </div>
                </div>
                <div>
                    <span class="face label" [ngClass]="{'label-default': face.gender == 'Male', 'label-warning': face.gender != 'Male'}" 
                        *ngFor="let face of currentAnalytics?.faces">Age: {{face.age}} Gender: {{face.gender}}
                    </span>
                </div>
            </div>
            <div *ngIf="isAnalyzing">
                <h4>Analyzing Photo</h4>
            </div>
        </div>
        <h4 class="no-results" *ngIf="!currentAnalytics && !isAnalyzing">Select a photo to analyze it.</h4>
    </div>
    <br/>
    <br/>
    <h2>
        <b>Search Results</b>
    </h2>
    <div class="results" *ngIf="searchResults">
        <div *ngFor="let result of searchResults" (click)="analyze(result)" class="card">
            <img src="{{result?.thumbnailUrl}}" />
        </div>
    </div>
    <h4 class="no-results" *ngIf="!searchResults && !isSearching">Search for images to display results here.</h4>
    <h4 class="no-results" *ngIf="isSearching">Loading Search Results...</h4>